extends ../layout

block content
    include ../mixins/comment
    div.container
        div.content
            div.animal-header-row
                h1.animal-title=animal.name
                if user && animal.isOwnedBy(user)
                    a.button(href=`/animal/${animal.id}/edit`) Edit
                if user && user.is('admin')
                    a.button(href=`/animal/${animal.id}/delete`) Delete
            p.created-on Created
                strong.emphasize #{animal.friendlyCreatedDate}
                | by
                strong.emphasize #{animal.user.first_name}

            img.animal-image(src=animal.image_url)
            p.animal-body=animal.backstory

            div.comment-section
                h3.comment-section-title Comments (#{animal.comments.length})
                div.comment-form
                    form(action=`/animal/${animal.id}/comment/create` method='post')
                        div.input-container.wide
                            label(for='user_name').form-label Your name
                            input(type='text' name='user_name' id='user_name' required=true)
                        div.input-container.wide
                            textarea(placeholder='Write your comment here.' required=true name='body' id='body' cols='80' rows='5')
                        div
                            button.button.primary(type='submit') Comment

                ul.comment-list
                    each comment in animal.comments
                        li
                            +comment(comment)