mixin animalCard(animal)
    a.card(href=`/animal/${animal.id}`)
        img.card-image(src=animal.image_url)
        div.card-body
            div.card-title=animal.title
            p.created-on Created
                strong.emphasize #{animal.friendlyCreatedDate}
                | by
                strong.emphasize #{animal.user.first_name}